*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: sans-serif;
}
footer{
    width: 100%;
    background: #202020;
    color: white;
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.container-body{
    display: flex;
}
.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top:20px; 
}
.colum2{
    max-width: 400px;
}
.colum2 h1{
    font-size: 22px;
}
.row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 35px;
    height: 35px;
}
